<div>
    <table>
        <tr>
            <td>name:</td><td>{{formData.name}}</td></tr>
           <tr> <td>phonenumber:</td><td>{{formData.phonenumber}}</td></tr>
           <tr><td>email:</td><td>{{formData.email}}</td></tr>
           <tr> <td>city</td><td>:{{formData.city}}</td></tr>
           <tr> <td>Address:</td><td>{{formData.address}}</td></tr>
           <tr> <td>Area:</td><td>{{formData.area}} sq.ft</td></tr>
           <tr><td>painting-Type:</td><td>{{formData.paintingtype}}</td></tr>
           <tr><td>Date:</td><td>{{formData.date|date}}</td></tr>
    </table><br>
    <p>payment<a routerLink="/payment"><button class="text-center bg-info-subtle justify-content-center d-block mx-auto">checkout</button></a></p>
</div>