<div class="bg">
   <br> <p class="text-center text-danger fw-bold fs-2">YOUR PAYMENT HAS COMPLETED</p><br>
    <p class="text-center text-success fst-italic fs-2">THANKS FOR CHOOSING OUR SERVICES<br>PLEASE VISIT OUR WEBSITE AND LEAVE YOUR VALUABLE RATING</p><br>
    <p class="text-center fs-2">Redirect to home <a routerLink="/Home"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-house-fill" viewBox="0 0 20 19">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
      </svg></a></p><br>
<div>
    <h2 class="wp-block-heading nitro-offscreen text-center text-secondary" id="tricks-to-select-the-perfect-colour-palette-for-your-home"><strong>Tricks to Select the Perfect Colour Palette for Your Home</strong></h2><br>
    <p class="nitro-offscreen">Painter cost per day in India depends on the choice of the material and the area it covers. If you already are spending a considerable amount of money on labour, then it is important to choose the right colours. Below are a few tips and tricks to help you –&nbsp;</p>
    <ul class="nitro-offscreen"> <li>Select the colour of your choice</li> <li>Choose a colour that shares a pattern with your furniture</li> <li>Vertically, start decorating from dark to light</li> <li>Address the formal setting areas of the house, then the private rooms</li> <li>Use a colour wheel</li> </ul>
    <h5 class="nitro-offscreen text-center"><strong>Below is a detailed chart to give you information to choose the right paint for yourself</strong></h5><br>
    <figure class="wp-block-table nitro-offscreen"> 
    <table class="table table-bordered table-info" id="table">
            <tbody>
                <tr><td class="fw-bold">Category</td><td class="fw-bold">Sub-category</td><td class="fw-bold">Water-based paint (Distemper, emulsion, lustre, texture)</td><td class="fw-bold">Oil-based paint (Enamel, emulsion, lustre)</td></tr>
                <tr><td>Characteristics</td><td>Sheen levels</td><td>Provides a satisfactory sheen finish for an extended period</td><td>High sheen level, but fades over time</td></tr>
                <tr><td></td><td>Probability of cracking</td><td>Less susceptible to cracking</td><td>More susceptible to cracking</td></tr>
                <tr><td></td><td>Durability</td><td>High resistance to wear-and-tear</td><td>High resistance to wear-and-tear</td></tr>
                <tr><td></td><td>Emissions</td><td>Low level of VOC emissions</td><td>High level of VOC emissions</td></tr>
                <tr><td>Usage</td><td>Interior or exterior use</td><td>More suited for exterior use</td><td>More suited for interior use</td></tr>
                <tr><td>Application</td><td>Surface condition needed for application</td><td>Can tolerate small amounts of moisture on a surface before application</td><td>The surface must be completely dry before application</td></tr>
                <tr><td></td><td>Time needed for application</td><td>Lesser application time as compared to oil paints</td><td>Requires more application time than water paints</td></tr>
                <tr><td></td><td>After-application odour levels</td><td>Less odour after painting</td><td>More odour after painting (gives off the 'newly painted' smell)</td></tr>
                <tr><td>Time taken to dry and harden</td><td>Touch dry</td><td>30-60 minutes</td><td>6-8 hours</td></tr>
                <tr><td></td><td>Time taken to fully harden</td><td>1-4 weeks</td><td>2-3 days</td>
                </tr>
            </tbody>
        </table>
    </figure>  
</div>
</div>